footer#contact 
    div 
        h5 Follow me 
        div.flexContainer
            a(href="https://linkedin.com/in/hadley-slucher" target="blank" style=`color: ${textColor}`) 
                h3 LinkedIn 
            a(href="https://github.com/hadleyjpg" target="blank" style=`color: ${textColor}`)    
                h3 Github 
            a(href="https://instagram.com/hadley.jpg" target="blank" style=`color: ${textColor}`)
                h3 Instagram 
        h3 Let's collaborate – 
            a(href="https://hadley.work/contact" style=`color: ${textColor}`) Start a project
    div 
        button#backToTop(style=`color: ${textColor}` onclick="scrollToTop()") Back to top

    script.
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: "smooth" });
        }