header(style=`background: ${primary}`)
    a(href="index.html" style=`color: ${textColor}`).noStyle
        h3 Hadley Slucher
    nav
        ul  
            li 
                a(href="index.html#about" style=`color: ${textColor}`) About
            li 
                a(href="index.html#work" style=`color: ${textColor}`) Work 
            li 
                a(href="index.html#contact" style=`color: ${textColor}`) Contact