header(style=`background: ${primary}`)
    a(href="index" style=`color: ${textColor}`).noStyle
        h3 Hadley Slucher
    nav
        ul  
            li 
                a(href="index/#about" style=`color: ${textColor}`) About
            li 
                a(href="index/#work" style=`color: ${textColor}`) Work 
            li 
                a(href="index/#contact" style=`color: ${textColor}`) Contact