header(style=`background: ${primary}`)
    a(href="index" style=`color: ${textColor}`).noStyle
        h3 Hadley Slucher
    nav
        ul  
            li 
                a(href="#about" style=`color: ${textColor}`) About
            li 
                a(href="#work" style=`color: ${textColor}`) Work 
            li 
                a(href="#contact" style=`color: ${textColor}`) Contact