doctype html
html(lang="en")

    block variables

        // Styles

        - var primary = ''
        - var secondary = ''
        - var tertiary = ''
        - var accent = ''
        - var textColor = ''
        - var textColorSecondary = ''

        // Content

        - var pageTitle = 'Project Name'
        - var tagLine = 'Project tagline'
        - var overview = 'Overview paragraph'
        - var projectDuration = 'Project duration'
        - var role = 'Role'
        - var tools = 'Tools'
        - var overviewImgURL = 'images/default.jpg'
        - var overviewImgAlt = ''
        - var problem = ''
        - var objectiveOne = ''
        - var objectiveTwo = ''
        - var objectiveThree = ''
        - var userImgURL = ''
        - var userOneName = ''
        - var userOneDesc = ''
        - var userTwoName = ''
        - var userTwoDesc = ''
        - var research = ''
        - var outcomeOne = ''
        - var outcomeTwo = ''
        - var outcomeThree = ''

    head
        include includes/head 
        
        title= pageTitle
    body(style=`background: ${primary}; color: ${textColor}`)
        include includes/nav

        section#hero 
            h1= tagLine

        section#overview 
            .textContainer 
                h2 Overview 
                p= overview 
                .projectDetails 
                    h3 Project Duration 
                    p= projectDuration 

                    h3 Role 
                    p=role

                    h3 Tools 
                    p=tools 

            .imgContainer
                img(src= overviewImgURL alt= overviewImgAlt )

        section#challenge 
            div.flexContainer(style=`background: ${secondary}; color: ${textColorSecondary}`) 
                div
                    h2 Problem/Challenges  
                    p= problem
                div
                    h2 Objectives 
                    ul 
                        li= objectiveOne
                        li= objectiveTwo 
                        li= objectiveThree

        section#research 
            .profilesContainer 
                .userCard(style=`background: ${tertiary}`)
                    img(src= userImgURL )
                    div 
                        h4= userOneName 
                        p= userOneDesc 

                .userCard(style=`background: ${tertiary}`)
                    img(src= userImgURL ) 
                    div 
                        h4= userTwoName 
                        p= userTwoDesc

            .textContainer
                h2 Research 
                p= research

        block content  

        section#outcomes 
            h2 Outcomes
            .flexContainer
                div   
                    h3 01
                    p=outcomeOne

                div   
                    h3 02
                    p=outcomeTwo 

                div   
                    h3 03
                    p=outcomeThree 

        include includes/footer