mixin article(image, link, subtitle, title, category1, category2)
    article 
        div.imgContainer
            a(href=link)
                img(src=image)
                button Read more
        div.textContainer 
            h3= subtitle 
            h2= title 
            div.flexContainer.smallGap
                div.category 
                    p= category1
                div.category
                    p= category2
